.titulo{
   
    color :lime;
    background: grey;
    width: 200px;
}
.btn{
    width: 80px;
    border-radius: 5px;
    color: orange;
    height: 30px;
    background-color: darkcyan;
    font-size: 16px;
}