.container{
    width: 90%;
    border: 2px solid green;
    background: url(./rick-morty-acido.jpg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    margin:50px auto;
}
.datos{
    padding: 20px;
    text-align: left;
}
.datos h1{
    align-self: center;
}
.imagen{
   
    width: 95%;
    margin: 10px;
    /* padding: 10px; */
    border-radius: 15px;
}
.boton{
    color: rgb(243, 250, 244); 
    background-color: Green; 
    padding: 5px 15px;
  
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.0em;
 


}
.boton:hover {
    background-color: rgb(39, 217, 128); 
    color: black;
}